Recuperando senha

Uma solicitação de recuperação de senha foi realizada para o email
({{ email }}), se você não solicitou esta ação, por favor ignore.

Para continuar com este processo utilize o token {{ token }} ou clique
no link abaixo:

"{{ link }}" Criar nova senha
